#header-h1 {
    position:relative;
    color:red;
    top:-10px;
    font-size:32pt;
    }

#header-h5 {
    position:relative;
    color:red;

    
}
    
#logo {
    width:12.5%;
    height:100pt;
    border: 2px solid brown;
    float:left;
    position:relative;
    top:-1px;
    left:-1px;
}

header {
    margin:0 auto;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Desert_de_Retz_Grass.jpg/800px-Desert_de_Retz_Grass.jpg");
    position:relative;
    width:960px;
    /*Change width back to 1440px when commit is pushed to repository*/
    height:100pt;
    border: 3px solid brown;
}

.header {
    background-color: green;
    height:100pt;
    z-index:-10;
}

body {
    background:url("fabric_plaid_@2X.png");
    margin:0;
}

#pic1 {
    position:relative;
    width:634px;
    height:395px;
    left:635px;
    bottom:95px;
    border:4pt solid brown;
}

#passion {
    position:relative;
    margin-right:50%;
    width:40%;
    left:20px;
    top:60px;
}

.container {
    width:960px;
    /*Change width back to 1440px when commit is pushed to repository*/
     margin:0 auto;
}
    
p {
    font-size:13pt;
    text-indent:50px;
}

a {
    text-decoration:none;
}
a:link{
    color:green;
}
a:hover{
    color:#000099;
}


